a {
    text-decoration: none;
    color: black;
}

.post-container {
    width: 25%;
    margin: auto;
    margin-top: 3rem;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 3rem;
}

.profile-row {
    display: flex;
    justify-content: space-between;
}

.profile-item {
    margin: 0.2rem 0;
}

.information {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 1rem;
    object-fit: cover;
}

.information p {
    font-weight: bold;
    font-size: 13px;
}

.time-stamp {
    color: gray;
    font-size: 15px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    margin-top: 15px;
}

.comment {
    font-size: 17px;
    color: gray;
}